@use '../utils/mixin' as *;
@use './variables.scss' as vrs;

.contact {
  &__title {
    @include content-title;

    margin-bottom: 48px;
    color: vrs.$color-primary;
  }

  &__wrapper {
    @include page-grid;
  }

  &__container {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 8 / 11;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    color: vrs.$color-primary;
    font-size: 14px;
    font-weight: 400;
    margin: 0;

    @include text-hover;
  }

  &__text {
    color: vrs.$color-primary;
    font-size: 16px;
    font-weight: 500;
    margin: 0;

    @include text-hover;
  }

  &__link {
    text-decoration: none;
    color: vrs.$color-primary;
    font-size: 16px;
    font-weight: 500;
    margin: 0;

    @include text-hover;
  }
}
