@use '../utils/mixin' as *;
@use './variables.scss' as vrs;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 3;
  }

  @include on-desktop {
    grid-column: span 5;
  }

  &__name {
    width: 100%;
    height: 48px;

    border-radius: 40px;
    border: 0;

    padding: 14px 16px;
    box-sizing: border-box;

    @include placeholder;
    @include input-hover;
    @include input-active;
  }

  &__email {
    width: 100%;
    height: 48px;

    border-radius: 40px;
    border: 0;

    padding: 14px 16px;
    box-sizing: border-box;

    @include placeholder;
    @include input-hover;
    @include input-active;
  }

  &__message {
    width: 100%;
    height: 148px;

    border-radius: 16px;
    border: 0;

    padding: 14px 16px;
    box-sizing: border-box;

    resize: none;

    @include placeholder;
    @include input-hover;
    @include input-active;
  }

  &__button {
    width: 100%;
    height: 56px;

    border-radius: 40px;
    border: 0;

    box-sizing: border-box;
    margin: 16px 0;

    font-family: vrs.$font-family;
    font-weight: 700;
    font-size: 16px;

    @include hover(transform, scale(1.2));
    @include button-hover;
    @include button-active;
  }
}
