@use '../utils/mixin' as *;
@use './variables.scss' as vrs;

.main {
  background-color: vrs.$bg-color;

  &__content {
    display: grid;
    row-gap: 92px;
    padding-block: 92px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}
