@use '../utils/mixin' as *;
@use './variables.scss' as vrs;

.move-free {
  @include page-grid;

  &__title {
    @include content-title;

    text-align: left;
    margin-bottom: 32px;
    color: vrs.$color-primary;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__text {
    color: vrs.$color-primary;
    font-size: 23px;
    margin: 0;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
