@use '../utils/mixin' as *;
@use './variables.scss' as vrs;

.product {
  @include hover(transform, scale(1.2));

  &__photo {
    width: 100%;
  }

  &__title {
    font-size: vrs.$font-size-product-title;
    color: vrs.$color-primary;
  }

  &__text {
    font-size: vrs.$font-size-product-text;
    color: vrs.$color-primary;
  }

  &__price {
    font-size: vrs.$font-size-product-price;
    font-weight: 700;
    color: vrs.$color-primary;
  }
}
