$color-primary: #fff;
$color-secondary: #1d1d1d;
$color-shadow: #E8E8F066;
$color-hover-input: #D5D7DE;
$color-active-input: #292929;
$color-hover-text: gray;
$menu-background-color: #c2c2c2;
$bg-color: #1D1D1D;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$font-size-product-title: 24px;
$font-size-product-text: 16px;
$font-size-product-price: 24px;
$font-family: Poppins, Arial, sans-serif;
